.sidebar{
    width: 100%;
    
    display: block;
    background-color: aqua;
}
.body{
    background-color: aqua;
}
.tagline{
    color: blueviolet;

}
.con1{
    padding: 4px;
    margin: 2px;

}
.navbar navbar-expand-lg navbar-light bg-light{
    position: fixed;
}
.footer{
    background-color: aqua;
    justify-content: center;
    margin-top: 30px;
    border-radius: 10px;


}
.backfot{
   margin: 40px;
 
}
.pad-team{
    padding-top: 30px;
    margin-top: 20px;
}